.nav{
    @include site_width(1250px);
    @include horizontal_centering;
    margin: 30px auto ;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #313030;
} 
.nav-block{
    position: relative;
    display: inline-block;
    
}  
.nav-link{
    @include font_stack(16px,#dfdfdf,700,32px);
    padding: 30px 20px;
    height: 100%;
    display: block;

    &:hover{
        background-color: $coral01;    
    }
}