// COLORS
$white01: #ffffff;
$whiteText: #dfdfdf;
$coral01: #dd4142;
$darkGray01:#343333;
$darkGray02: #585858;
$black01: #000000;
$background01:#f5f2f2;
$lightGray: #737373;
$emptyFon :#c2bfb1;
// FONTS
$font-stack: 'Arial','Times New Roman',
sans-serif;

// FONT-SIZE
$primary-font-size: 10px;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra_bold:900;
