// COLORS
$white01: #ffffff;

$black01: #000000;
// FONTS
$font-stack: 'Arial',
sans-serif;

// FONT-SIZE
$primary-font-size: 10px;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
