.footer {
    @include site_width(1920px);
    padding-top: 70px;
    .footer-wrapper {
        @include site_width(1220px);
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
        margin-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #e5e5e5;
            bottom: 0;
        }

        .grid-col {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 30%;

            .subscribe {
                .subscribe-title {
                    @include font_stack(40px, rgb(204, 204, 204), 700, 1.2) {
                        font-family: "Montserrat";
                    }
                    margin-bottom: 40px;
                }
                .subscribe-text {
                    max-width: 450px;
                    margin-bottom: 40px;
                }
                .subscribe-followers-text {
                    display: flex;
                    @include font_stack(18px, rgb(51, 51, 51), 700, 1.2) {
                        font-family: "Montserrat";
                    }
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: #e5e5e5;
                        bottom: 0;
                    }
                }
                .social {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 40px;
                    .social-text {
                        display: flex;
                        width: 20%;
                        @include font_stack(15px, rgb(153, 153, 153), 300, 1.6) {
                            font-family: "Roboto";
                            font-style: italic;
                        }
                        left: 0;
                    }
                    .social-icon-list {
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        .social-icon-wrapper {
                            display: flex;
                            height: 100%;
                            max-width: 24px;
                            max-width: 24px;
                            .social-icon {
                                object-fit: contain;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .subscribe-form {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    .subscribe-form-input {
                        display: flex;
                        width: 230px;
                        height: 40px;
                        border: 1px solid #95e1d3;
                        &::placeholder {
                            @include font_stack(15px, #e5e5e5, 300, 1.6) {
                                font-style: italic;
                                font-family: "Roboto";
                            }
                            align-items: center;
                            padding-left: 15px;
                        }
                    }
                    .subscribe-form-button {
                        @include button(40px, 150px, 0, #95e1d3) {
                            @include font_stack(14px, #fff, 900, 1.2) {
                            }
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .instagram {
                .instagram-title {
                    @include font_stack(18px, rgb(51, 51, 51), 700, 1.2) {
                        font-family: "Montserrat";
                    }
                    margin-bottom: 30px;
                }
                .instagram-list {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;

                    .instagram-block {
                        width: 32%;
                        display: flex;

                        border: 2px solid #fff;
                        .instagram-img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .instagram-link {
                    display: flex;
                }
            }
            .blog {
               
                .blog-title {
                    @include font_stack(18px, rgb(51, 51, 51), 700, 1.2) {
                        font-family: "Montserrat";
                    }
                    margin-bottom: 30px;
                }
                .blog-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;

                    .blog-block {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;

                        .blog-img-wrapper {
                            display: flex;
                            width: 45%;
                            .block-img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .blog-text-wrapper {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            align-content:center ;
                            justify-content: flex-start;
                            margin: auto 0;

                            .blog-text {
                                @include font_stack(12px, rgb(51, 51, 51), 500, 1.5) {
                                    font-family: "Montserrat";
                                }
                                display: flex;
                            }
                            .blog-text-date {
                                @include font_stack(13px, rgb(151, 151, 151), 300, 1.846) {
                                    font-family: "Roboto";
                                    font-style: italic;
                                    
                                }
                                text-align: left;
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        @include font_stack(14px,rgb(51, 51, 51),700,1.2){
            text-align: center;
            font-family: "Montserrat";
        }
        width: 100%;
        margin: 0 auto 20px;
        padding-top: 20px;
        .copyright-link{
            color:#f38181;

        }
    }
}
